__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
.env

.git/
.idea/
.vscode/

logs/
*.log

# local datasets & outputs (do not bake into image)
data/
output/
artifacts/
models/

# large files
*.csv
*.jsonl
*.parquet

# OS
.DS_Store
Thumbs.db


__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
.env

.git/
.idea/
.vscode/

logs/
*.log

# local datasets & outputs (do not bake into image)
data/
output/
artifacts/
models/

# large files
*.csv
*.jsonl
*.parquet

# OS
.DS_Store
Thumbs.db

runbook/

article-key.pem
